<div class="container">
<h2>餐廳分類總表</h2>
<div class="form-inline" >
  <%= form_for [:wzht, @category] do |f| %>
    <div class="form-group">
      <%= f.text_field :name, placeholder: "Category Name",  class: "form-control" %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
    <% if @category.errors.any? %>
      <span class="text-danger"><%= @category.errors.full_messages.to_sentence %></span>
    <% end %>
  <% end %>
</div>
<p></p>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>#</th>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <th scope="row"><%= category.id %></th>
          <td><%= category.name %></td>
          <td>
            <%= link_to 'Edit', wzht_categories_path(id: category.id) %>
            <%= link_to 'Delete', wzht_category_path(category), method: :delete, data: {confirm:"Are you sure?"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>