<div class="container">
  <div class="row">
  <% @friends.each do |friend| %>
    <div class="col-md-3 col-sm-4 col-xs-6 text-center user-item">

          <%= link_to user_path(friend) do %>
            <%= image_tag(friend.avatar.url, class: "img-rounded") %>
            <h4><%= friend.get_username %></h4>
          <% end %>

          <%= render partial: "shared/follow", locals: {user: friend} %>
          <%= render partial: "shared/friend", locals: {user: friend} %>

    </div>
  <% end %>
  </div>
</div>