<div class="container">
  <div class="row">
    <%= render partial: "shared/nav_tabs" %>
    <h2>美食達人</h2>
    <hr>
     <% @users.each do |user| %>
      <div class="col-md-3 col-sm-4 col-xs-6 text-center user-item">

        <%= link_to user_path(user) do %>
          <%= image_tag(user.avatar.url, class: "img-rounded") %>
          <h4><%= user.get_username %></h4>
        <% end %>

        <%= render partial: "shared/follow", locals: {user: user} %>
        <%= render partial: "shared/friend", locals: {user: user} %>

      </div>
    <% end %>
  </div>
</div>
