<div class="container">
  <div class="row">
    <div class="col-xs-3">
    <div class="text-center">
      <%= image_tag @user.avatar.url %>
    </div>
    </div>
    <div class="col-xs-9">
      <h3><%= @user.name %></h3>
      <h4><%= @user.email %></h4>
      <p><%= simple_format(@user.intro) %></p>
      <% if @user == current_user %>
        <%= link_to "Edit Profile",  edit_user_path(@user), class: "btn btn-primary" %>
        <%= link_to "Friends", friends_list_user_path(@user), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @commented_restaurants.count %> 間已評論餐廳</h3>
  </div>
  <div class="row">
    <div class="panel-body">
      <% @commented_restaurants.each do |restaurant| %>
        <%= link_to restaurant_path(restaurant) do %>
          <div class="col-md-1 col-xs-4 my-restaurant">
            <%= image_tag restaurant.image.url, class: "img-responsive img-rounded center-block" %>
            <div class="link"><%= restaurant.name %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>