<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @restaurant.name %></h1>
      <h3><%= @restaurant.category.name %></h3>
    </div>

    <div class="col-md-4">
      <%= image_tag @restaurant.image.url, class: "img-responsive" %>
      <br>
      <div class="well">
        <ul class="list-unstyled">
          <li><strong>Opening Hour:</strong> <%= @restaurant.opening_hours %></li>
          <li><strong>Tel:</strong> <%= @restaurant.tel %></li>
          <li><strong>Address:</strong> <%= @restaurant.address %></li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <%= simple_format @restaurant.description %>
    </div>
    <%= render partial: "shared/favorite", locals:{restaurant: @restaurant} %>
    <%= render partial: "shared/like", locals:{restaurant: @restaurant} %>
    <div class="clearfix"></div>
    <hr>
    <div class="container">
      <div class="row">
      <!-- 顯示餐廳相關評論 -->
      <% @restaurant.comments.order('created_at desc').each do |comment| %>
        <div>
          <h4><%= comment.user.get_username %></h4>
          <p><%= simple_format(comment.content) %></p>
          <p class="text-muted">
            <em><%= time_ago_in_words(comment.created_at, include_seconds: true) %> ago</em>
            <% if current_user.admin? %>
              -
              <%= link_to "Delete", restaurant_comment_path(@restaurant, comment), method: :delete, data: {confirm:"are u sure?"} %>
            <% end %>
          </p>
          
        </div>
      <% end %>
      <%= form_for [@restaurant,@comment] do |f| %>
        <div class="form_group">
          <%= f.text_area :content, placeholder: "留個言吧", class: "form-control" %>
        </div>
        <br>
        <div classs="form_group">
          <%= f.submit class: "btn btn-primary" %>
          <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>